body {
    background: #000;
    height: 100vh;
    display: flex;
}

.grid {
    position: relative;
    width: 90vw;
    max-width: 1000px;
    margin: auto;
    aspect-ratio: 4 / 3;
}

.square {
    position: absolute;
    background: #fff;
    border-radius: 10px;
}

.square-1 { left: 3%;  top: 2%;  width: 22%; height: 44%; }
.square-2 { left: 26%; top: 2%;  width: 23%; height: 26%; }
.square-3 { left: 50%; top: 2%;  width: 25%; height: 26%; }
.square-4 { left: 76%; top: 2%;  width: 21%; height: 49%; }
.square-5 { left: 26%; top: 30%; width: 49%; height: 40%; }
.square-6 { left: 3%;  top: 48%; width: 22%; height: 22%; }
.square-7 { left: 76%; top: 53%; width: 21%; height: 46%; }
.square-8 { left: 3%;  top: 72%; width: 46%; height: 27%; }
.square-9 { left: 50%; top: 72%; width: 25%; height: 27%; }